<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>
<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Fork Yah Food Delivery!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/list-restaurants']">View Restaurants</a>
          <a class="nav-link" [routerLink]="['/create-food']">Create Food</a>
          <a class="nav-link" (click)="displayRestaurant()">Restaurant List</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
