
<div align="center">
  <div class="card mb-6" style="max-width: 40%;">
    <div class="row no-gutters">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">{{ restaurant.location }}</p>
          <p class="card-text"><small class="text-muted">{{ restaurant.category }}</small></p>
          <table>
            <tr>
              <td width="30%" align="center" >
                <a class="link" [routerLink]="['/edit-restaurant', restaurant.id]">Edit<i class="fa fa-edit"></i></a>
              </td>
              <td width="30%" align="center">
                <a class="link" [routerLink]="['/delete', restaurant.id]">Delete<i class="fa fa-trash"></i></a>
              </td>
              <td width="30%" align="center">
                <a class="link" [routerLink]="['/list-foods', restaurant.id]">Menu<i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </div>

  <app-edit-restaurant *ngIf="selectedRestaurant" [restaurant]="selectedRestaurant" ></app-edit-restaurant>
